@model MVC.Models.Survey


<div class="btn-group" role="group">
	<a type="button" class="btn btn-primary btn-sm" href="http://localhost:59483/Home/Edit/@Model.Id" +><span class="glyphicon glyphicon-pencil"></span></a>
	<a type="button" class="btn btn-primary btn-sm" href="http://localhost:59483/Home/Questions/@Model.Id" +><span class="glyphicon glyphicon-plus"></span></a>
</div>

